{{! Header block }}
<div id="header" class="header--client-side-chat">
  {{> _logo}}
  <a href="javascript:Mibew.Utils.closeChatPopup();" title="{{l10n "Close"}}" class="icon-exit-chat icon-xl">
    <span class="sr-only">Close chat window</span>
  </a>
</div>

{{! Chat header}}
<div id="chat-header">
  {{! Chat controls region}}
  <div id="controls-region"></div>
</div>

{{! Chat region}}
<div id="chat">
  {{#unless user.isAgent}}
  <div id="avatar-region"></div>
  {{/unless}}
  {{! Chat messages region}}
  <div id="messages-region"></div>
  {{! Chat status region}}
  <div id="status-region"></div>
</div>

{{! Message form region}}
<div id="message-form-region"></div>
