#mibew-invitation-popup {
  margin: 0;
  padding: 1rem;
  border: 0;
  outline: 0;
  font-weight: normal;
  font-style: normal;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  vertical-align: baseline;
  line-height: normal;
  border: 0;
  background: #fafafa;
  color: #4a4a4a;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 1200;
  border-radius: .2rem;
  text-align: center;
  box-shadow:
    0 8px 17px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#mibew-invitation-popup h1,
#mibew-invitation-popup p,
#mibew-invitation-close a {
  cursor: pointer;
}
#mibew-invitation-popup h1 {
  color: #880029;
  font-size: 1.4rem;
  font-weight: bold;
  overflow: hidden;
  padding-top: .625rem;
  padding-bottom: .625rem;
  background: url('../../chats/abtech/images/avatar.png') left center no-repeat;
  background-size: 2.5rem;
  text-align: left;
  padding-left: 3rem;
  display: block;
  text-align: left;
}
#mibew-invitation-close {
  float: right;
  background: url('../../chats/abtech/icons/x.svg') center no-repeat;
  padding: .5rem;
  margin: 0;
}
#mibew-invitation-close a {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  color: white;
  margin: 0 4px 0 4px;
}
#mibew-invitation-close a,
#mibew-invitation-close a:link,
#mibew-invitation-close a:hover {
  text-decoration: none;
}
#mibew-invitation-popup p {
  padding: 2px;
  margin: 2px;
}
#mibew-invitation-avatar-wrapper {
  margin: 3px .5rem 3px 0;
  cursor: pointer;
  position: absolute;
  max-width: 2.5rem;
  max-height: 2.5rem;
  overflow: hidden;
  border-radius: 2.5rem;
}
#mibew-invitation-avatar {
  max-width: 2.5rem;
}
#mibew-invitation-frame {
  height: 110px;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  border: 1px solid #999;
  background-color: #fff;
  padding: .4rem .6rem;
  border-radius: .2rem;
  margin-bottom: .5rem;
}
#mibew-invitation-accept {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 50rem;
  transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
  text-decoration: none;
  cursor: pointer;

  // Primary button style
  color: #fff;
  background-color: #880029;
  border-color: #880029;
}
#mibew-invitation-accept:hover {
  color: #fff;
  background: #af1342;
  border-color: #af1342;
}

// responsive design for mobile devices
@media only screen and (max-width: 500px) {
  #mibew-invitation-popup {
    max-width: 100%;
    width: 100%;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;
    max-width: calc(100vw - 2rem);
    max-height: calc(80vw - 2rem);
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

// additional trick for desktops
@media (min-width: 501px) {
  #mibew-invitation-popup {
    width: 400px;
  }
}
