{{#extends "_layout"}}
    {{#override "pageTitle"}}{{l10n "Sent"}}{{/override}}

    {{#override "content"}}
      <div class="text-center">
        <a class="btn btn-primary" href="javascript:window.close();">
            {{l10n 'Close'}}
        </a>
      </div>
    {{/override}}

    {{#override "message"}}
    <div class="text-center">
      {{l10n "A history of your chat was sent to address {0}" email}}
    </div>
    {{/override}}
{{/extends}}
