{{! Header block }}
<div id="header" class="header--leave-message">
  {{> _logo}}
  <a href="javascript:Mibew.Utils.closeChatPopup();" title="{{l10n "Close"}}">
    <img class="icon-close-window icon-xl" src="{{page.stylePath}}/icons/x.svg" alt="{{l10n "Close"}}" />
  </a>
</div>

{{! Header block. Contains description}}
<div id="headers">
    <div class="messages" id="description-region">
    </div>
</div>

{{! Empty container for main content}}
<div id="content-wrapper"></div>
