<div class="buttons">
        <a href="javascript:Mibew.Utils.closeChatPopup();" title="{{l10n "Close..."}}">
            <img class="icon-close-window icon-lg" src="{{page.stylePath}}/icons/x.svg" alt="{{l10n "Close..."}}" />
        </a>
</div>
<div class="info-message">{{l10n "Thank you for your message. We'll answer your query by email as soon as possible."}}</div>
